.navigation{
    display: flex;
    background-color:white;
    background-position: center;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    align-items: baseline;
    align-content: stretch;
}
.logo{
    display: flex;
    width: 180px;
    height: 180px;
    justify-content: flex-start;
}
.leftside{
    display: flex;
}
.center{
    display: flex;
    justify-content:space-around;
    padding: 50px;
    font-size: 24px;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2d72c2;
    align-self: baseline;
    font-size: xx-large;
    
}
.rightside{
    display: flex;
    width: 80px;
    height: 30px;
    color: white;
}
button{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FF9F41;
    block-size: 50px;
    inline-size: 300px;
    align-self:baseline-postion;

}
.footer{
    display: flex;
    flex-direction: row;
    background-color: #F4ECE2;
    justify-content:baseline;
}
.leftFoot .middleFoot .iconFoot .rightFoot .bottomFoot{
    background-color: orange;
    display: flex;
}
.iconFoot{
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding-inline: 25px;
    padding-block: 25px;
    margin-inline: 50px;
}
.leftFoot {
    display: flex;
    width: 180px;
    height: 180px;
    flex-direction: row;
}
.bottomFoot{
    display: flex;
}
#fosterHero{
    display: flex;
    flex-direction: row;
    margin-inline: 100px;
}
#heroLeft{
    background-color: #FBD148;
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: flex-start;
    font-display: center;
    font-size: xx-large;
}
#rightHero{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}
#finImage{
    display: flex;
}
#becomeFoster{
    background-color: #294F6B;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    font-weight: 100;
    color: white;
    font-size: x-large;
}
.Foster{
    display: flex;
    flex-direction: column;
    margin-block: 900px;
}
#fosterApp{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 100px;
}
.appNotice{
    color: #FF9F41;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
.fosterHeader{
    color: #2D72C2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
.appButton{
    background-color: white;
    color: #2D72C2;
    display: flex;
    padding: 25px;
    border-radius: 50px;
    justify-content: center;
    border-color: #2D72C2 ;
    border-width: 2px;
    border-style:groove;
    opacity: 4;
}
.rightFoot ul il{
    justify-content: flex-end;
    flex-direction: row;
    color: #2D72C2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    justify-items: end;
    justify-items: right;
}
#subFooter{
    display: flex;
    background-color: #FBD148;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 40%;
    height: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
  }
  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
  }
  .card3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
  }
  #rehomeHero{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #bigdog{
    display: flex;
    flex-wrap: wrap;
    width: max-content;
  }
  #beforeRehome{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  .cardsection{
      display: flex;
      flex-direction: row;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: small;
  }
  button1{
      background-color:#2d72c2;
      color:white;
      border-style: groove;
      border-radius: 50px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      width: 300px;
      text-align: center;
      height: 90px;
      justify-content: center;
  }
  button2{
      border-style: groove;
      border-radius: 50px;
      border-color:#2d72c2 ;
      color: #2d72c2;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
      width: 300px;
      height: 90px;
      font-size: flex;
      font-weight: bold;
  }
  button{
      border-style: groove;
      border-radius: 50px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
  }
  #adoptionDay{
      background-color: #294F6B;
      color: white;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      display: flex;
  }
  .adoptText{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 50px;
    }
    .sadDog{
        display: flex;
        margin: 20px;
        padding: 20px;
    }
    #FAQ{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-self: auto;
        margin: 100px;
        padding: 100px;
        
    }
    .Q1{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: auto;
        -ms-flex-align: stretch;
        -ms-flex-align: center;
    }
    .Q2{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: auto;
        -ms-flex-align: stretch;
    }
    .Q3{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: auto;
        -ms-flex-align: stretch;
    }
    #rehomeHead{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: large;
        color: #2d72c2;
    }
    #rehomeBody{
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: medium;
    }
    .rehomeText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


    }